<div class="window">
  <div class="head">
    <h1>Frontend</h1>
    <h2>{{ "HEADER.FIRST" | translate }}</h2>
  </div>
  <div class="barDiv">
    <div class="bar"></div>
    <h3>Sascha Lenz</h3>
  </div>
  <div class="bottom">
    <div class="leftSection"><a href="#contact">S.Lenz(a)sascha-lenz.org</a></div>
    <div class="rightSection">
      <div class="image-container">
      <img src="./../../assets/arrows/scrollArrow4.svg" class="slide" /></div>
      <p>
        {{ "HEADER.SECOND" | translate }}
      </p>
    </div>
  </div>
</div>
