<div id="aboutMe" class="window-center">
  <div class="window-width">
    <div class="content">
      <h1>{{ "ABOUTME.FIRST" | translate }}</h1>
      <div class="main">
        <div class="leftDiv">
          <p>
            {{ "ABOUTME.SECOND" | translate }} <br /><br />
            {{ "ABOUTME.THIRD" | translate }}
            <br /><br />
            {{ "ABOUTME.FOUR" | translate }}
          </p>
          <div class="buttonPosition">
            <a href="#contact"
              ><div class="button">{{ "ABOUTME.FIVE" | translate }}</div></a
            >
          </div>
        </div>
        <div><img class="picture" src="../../assets/Lenz,Sascha.png"></div>
      </div>
    </div>
  </div>
</div>
