<div>
  <h1>{{ "PRIVACY_POLICY.text01" | translate }}</h1>
  <div>
    <h2>{{ "PRIVACY_POLICY.text02" | translate }}</h2>
    <h3>{{ "PRIVACY_POLICY.text03" | translate }}</h3>
    <p>
      {{ "PRIVACY_POLICY.text04" | translate }}
    </p>
    <h3>{{ "PRIVACY_POLICY.text05" | translate }}</h3>
    <h4>
      {{ "PRIVACY_POLICY.text06" | translate }}
    </h4>
    <p>
      {{ "PRIVACY_POLICY.text07" | translate }}
    </p>
    <h4>{{ "PRIVACY_POLICY.text08" | translate }}</h4>
    <p>
      {{ "PRIVACY_POLICY.text09" | translate }}
    </p>
    <p>
      {{ "PRIVACY_POLICY.text10" | translate }}
    </p>
    <h4>{{ "PRIVACY_POLICY.text11" | translate }}</h4>
    <p>
      {{ "PRIVACY_POLICY.text12" | translate }}
    </p>
    <h4>{{ "PRIVACY_POLICY.text13" | translate }}</h4>
    <p>
      {{ "PRIVACY_POLICY.text14" | translate }}
    </p>
    <p>
      {{ "PRIVACY_POLICY.text15" | translate }}
    </p>
    <h2>{{ "PRIVACY_POLICY.text16" | translate }}</h2>
    <p>{{ "PRIVACY_POLICY.text17" | translate }}</p>
    <h3>{{ "PRIVACY_POLICY.text18" | translate }}</h3>
    <p>
      {{ "PRIVACY_POLICY.text19" | translate }}
      <a
        href="https://all-inkl.com/datenschutzinformationen/"
        target="_blank"
        rel="noopener noreferrer"
        >https://all-inkl.com/datenschutzinformationen/</a
      >.
    </p>
    <p>
      {{ "PRIVACY_POLICY.text21" | translate }}
    </p>

    <h4>{{ "PRIVACY_POLICY.text22" | translate }}</h4>
    <p>
      {{ "PRIVACY_POLICY.text23" | translate }}
    </p>
    <h2>{{ "PRIVACY_POLICY.text24" | translate }}</h2>
    <h3>{{ "PRIVACY_POLICY.text25" | translate }}</h3>
    <p>
      {{ "PRIVACY_POLICY.text26" | translate }}
    </p>
    <p>
      {{ "PRIVACY_POLICY.text27" | translate }}
    </p>
    <p>
      {{ "PRIVACY_POLICY.text28" | translate }}
    </p>
    <h3>{{ "PRIVACY_POLICY.text29" | translate }}</h3>
    <p>
      {{ "PRIVACY_POLICY.text30" | translate }}
    </p>
    <p>
      Sascha Lenz<br />
      Friedensring 16<br />
      50171 Kerpen / Germany
    </p>

    <p>{{ "PRIVACY_POLICY.text34" | translate }}</p>
    <p>
      {{ "PRIVACY_POLICY.text35" | translate }}
    </p>

    <h3>{{ "PRIVACY_POLICY.text36" | translate }}</h3>
    <p>
      {{ "PRIVACY_POLICY.text37" | translate }}
    </p>
    <h3>
      {{ "PRIVACY_POLICY.text38" | translate }}
    </h3>
    <p>
      {{ "PRIVACY_POLICY.text39" | translate }}
    </p>
    <h3>{{ "PRIVACY_POLICY.text40" | translate }}</h3>
    <p>
      {{ "PRIVACY_POLICY.text41" | translate }}
    </p>
    <h3>{{ "PRIVACY_POLICY.text42" | translate }}</h3>
    <p>
      {{ "PRIVACY_POLICY.text43" | translate }}
    </p>
    <h3>
      {{ "PRIVACY_POLICY.text44" | translate }}
    </h3>
    <p>
      {{ "PRIVACY_POLICY.text45" | translate }}
    </p>
    <p>
      {{ "PRIVACY_POLICY.text46" | translate }}
    </p>
    <h3>
      {{ "PRIVACY_POLICY.text47" | translate }}
    </h3>
    <p>
      {{ "PRIVACY_POLICY.text48" | translate }}
    </p>
    <h3>{{ "PRIVACY_POLICY.text49" | translate }}</h3>
    <p>
      {{ "PRIVACY_POLICY.text50" | translate }}
    </p>
    <h3>{{ "PRIVACY_POLICY.text51" | translate }}</h3>
    <p>
      {{ "PRIVACY_POLICY.text52" | translate }}
    </p>
    <h3>{{ "PRIVACY_POLICY.text53" | translate }}</h3>
    <p>
      {{ "PRIVACY_POLICY.text54" | translate }}
    </p>
    <ul>
      <li>
        {{ "PRIVACY_POLICY.text55" | translate }}
      </li>
      <li>
        {{ "PRIVACY_POLICY.text56" | translate }}
      </li>
      <li>
        {{ "PRIVACY_POLICY.text57" | translate }}
      </li>
      <li>
        {{ "PRIVACY_POLICY.text58" | translate }}
      </li>
    </ul>
    <p>
      {{ "PRIVACY_POLICY.text59" | translate }}
    </p>
    <h3>{{ "PRIVACY_POLICY.text60" | translate }}</h3>
    <p>
      {{ "PRIVACY_POLICY.text61" | translate }}
    </p>
    <p>
      {{ "PRIVACY_POLICY.text62" | translate }}
    </p>
    <p>
      {{ "PRIVACY_POLICY.text63" | translate }}
      <a href="https://www.e-recht24.de">https://www.e-recht24.de</a>
    </p>
  </div>
</div>
