<div class="window-center">
<div>
  <h1>{{ "PRIVACY_POLICY.TEXT01" | translate }}</h1>
  <div>
    <h2>{{ "PRIVACY_POLICY.TEXT02" | translate }}</h2>
    <h3>{{ "PRIVACY_POLICY.TEXT03" | translate }}</h3>
    <p>
      {{ "PRIVACY_POLICY.TEXT04" | translate }}
    </p>
    <h3>{{ "PRIVACY_POLICY.TEXT05" | translate }}</h3>
    <h4>
      {{ "PRIVACY_POLICY.TEXT06" | translate }}
    </h4>
    <p>
      {{ "PRIVACY_POLICY.TEXT07" | translate }}
    </p>
    <h4>{{ "PRIVACY_POLICY.TEXT08" | translate }}</h4>
    <p>
      {{ "PRIVACY_POLICY.TEXT09" | translate }}
    </p>
    <p>
      {{ "PRIVACY_POLICY.TEXT10" | translate }}
    </p>
    <h4>{{ "PRIVACY_POLICY.TEXT11" | translate }}</h4>
    <p>
      {{ "PRIVACY_POLICY.TEXT12" | translate }}
    </p>
    <h4>{{ "PRIVACY_POLICY.TEXT13" | translate }}</h4>
    <p>
      {{ "PRIVACY_POLICY.TEXT14" | translate }}
    </p>
    <p>
      {{ "PRIVACY_POLICY.TEXT15" | translate }}
    </p>
    <h2>{{ "PRIVACY_POLICY.TEXT16" | translate }}</h2>
    <p>{{ "PRIVACY_POLICY.TEXT17" | translate }}</p>
    <h3>{{ "PRIVACY_POLICY.TEXT18" | translate }}</h3>
    <p>
      {{ "PRIVACY_POLICY.TEXT19" | translate }}
      <a
        href="https://all-inkl.com/datenschutzinformationen/"
        target="_blank"
        rel="noopener noreferrer"
        >https://all-inkl.com/<br />datenschutzinformationen/</a
      >
    </p>
    <p>
      {{ "PRIVACY_POLICY.TEXT21" | translate }}
    </p>

    <h4>{{ "PRIVACY_POLICY.TEXT22" | translate }}</h4>
    <p>
      {{ "PRIVACY_POLICY.TEXT23" | translate }}
    </p>
    <h2>{{ "PRIVACY_POLICY.TEXT24" | translate }}</h2>
    <h3>{{ "PRIVACY_POLICY.TEXT25" | translate }}</h3>
    <p>
      {{ "PRIVACY_POLICY.TEXT26" | translate }}
    </p>
    <p>
      {{ "PRIVACY_POLICY.TEXT27" | translate }}
    </p>
    <p>
      {{ "PRIVACY_POLICY.TEXT28" | translate }}
    </p>
    <h3>{{ "PRIVACY_POLICY.TEXT29" | translate }}</h3>
    <p>
      {{ "PRIVACY_POLICY.TEXT30" | translate }}
    </p>
    <p>
      Sascha Lenz<br />
      Friedensring 16<br />
      50171 Kerpen / Germany
    </p>

    <p>{{ "PRIVACY_POLICY.TEXT34" | translate }}</p>
    <p>
      {{ "PRIVACY_POLICY.TEXT35" | translate }}
    </p>

    <h3>{{ "PRIVACY_POLICY.TEXT36" | translate }}</h3>
    <p>
      {{ "PRIVACY_POLICY.TEXT37" | translate }}
    </p>
    <h3>
      {{ "PRIVACY_POLICY.TEXT38" | translate }}
    </h3>
    <p>
      {{ "PRIVACY_POLICY.TEXT39" | translate }}
    </p>
    <h3>{{ "PRIVACY_POLICY.TEXT40" | translate }}</h3>
    <p>
      {{ "PRIVACY_POLICY.TEXT41" | translate }}
    </p>
    <h3>{{ "PRIVACY_POLICY.TEXT42" | translate }}</h3>
    <p>
      {{ "PRIVACY_POLICY.TEXT43" | translate }}
    </p>
    <h3>
      {{ "PRIVACY_POLICY.TEXT44" | translate }}
    </h3>
    <p>
      {{ "PRIVACY_POLICY.TEXT45" | translate }}
    </p>
    <p>
      {{ "PRIVACY_POLICY.TEXT46" | translate }}
    </p>
    <h3>
      {{ "PRIVACY_POLICY.TEXT47" | translate }}
    </h3>
    <p>
      {{ "PRIVACY_POLICY.TEXT48" | translate }}
    </p>
    <h3>{{ "PRIVACY_POLICY.TEXT49" | translate }}</h3>
    <p>
      {{ "PRIVACY_POLICY.TEXT50" | translate }}
    </p>
    <h3>{{ "PRIVACY_POLICY.TEXT51" | translate }}</h3>
    <p>
      {{ "PRIVACY_POLICY.TEXT52" | translate }}
    </p>
    <h3>{{ "PRIVACY_POLICY.TEXT53" | translate }}</h3>
    <p>
      {{ "PRIVACY_POLICY.TEXT54" | translate }}
    </p>
    <ul>
      <li>
        {{ "PRIVACY_POLICY.TEXT55" | translate }}
      </li>
      <li>
        {{ "PRIVACY_POLICY.TEXT56" | translate }}
      </li>
      <li>
        {{ "PRIVACY_POLICY.TEXT57" | translate }}
      </li>
      <li>
        {{ "PRIVACY_POLICY.TEXT58" | translate }}
      </li>
    </ul>
    <p>
      {{ "PRIVACY_POLICY.TEXT59" | translate }}
    </p>
    <h3>{{ "PRIVACY_POLICY.TEXT60" | translate }}</h3>
    <p>
      {{ "PRIVACY_POLICY.TEXT61" | translate }}
    </p>
    <p>
      {{ "PRIVACY_POLICY.TEXT62" | translate }}
    </p>
    <p>
      {{ "PRIVACY_POLICY.TEXT63" | translate }}
      <a target="_blank" href="https://www.e-recht24.de"
        >https://www.e-recht24.de</a
      >
    </p>
  </div>
</div>
</div>