<div class="window-center">
  <div class="window-width">
    <div [@slideInOutRight]="slideInRight">
      <p class="projectNumber">01/02</p>
      <div class="leftsideProjectContainer">
        <div class="leftsideContainer">
          <img
            class="image"
            src="../../assets/portfolio/project1/join.png"
            alt="First Image"
          />
          <div class="leftsideBorderContainer">
            <img src="../../assets/portfolio/PortfolioHoverArrow.svg" />
          </div>
        </div>

        <div class="rightClearContainer">
          <div class="flyInContainer">
            <div class="clearContainer"></div>
            <div class="textContainer">
              <h2>Join</h2>
              <br /><br />
              <h3>Angular | TypeScript | HTML | CSS | Firebase</h3>
              <p class="projectText">
                {{ "PROJECT1.FIRST" | translate }}
              </p>
              <div style="display: flex; gap: 20px">
                <a target="_blank" href="https://join.sascha-lenz.org/">
                  <button>Live Test</button></a
                >
                <a
                  target="_blank"
                  href="https://github.com/SaschaLenz94/Join.git"
                >
                  <button>Github</button></a
                >
              </div>
            </div>
          </div>
        </div>

        <div class="secondContainer">
          <img
            src="../../assets/portfolio/project1/join.png"
            alt="First Image"
          />
          <div class="textContainer">
            <h2>Join</h2>
            <br /><br />
            <h3>Angular | TypeScript | HTML | CSS | Firebase</h3>
            <p class="projectText">
              Task manager inspired by the Kanban System. Create and organize
              tasks using drag and drop functions, assign users and categories.
            </p>
            <div style="display: flex; gap: 20px">
              <a target="_blank" href="https://join-86.developerakademie.net/">
                <button>Live Test</button></a
              >
              <a href="" target="_blank"> <button>Github</button></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
