.language {
  display: flex;
  justify-content: center;
  > img {
    padding-top: 20px;
    border-radius: 50px;
    height: 30px;
    width: 30px;
    margin-right: 5px;
    cursor: pointer;
  }
}
.window-center {
  display: flex;
  justify-content: center;
}
.content {
  padding: 0px 100px 00px 100px;
  max-width: 1450px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav {
  padding: 0px 100px 30px 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fffcf3;
  z-index: 999;
  height: 100px;
}

.logo img {
  height: 65px;
  width: 65px;
}

.menuDiv {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.underline-link {
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  position: relative;
  color: black;
  margin: 20px;
  font-family: Overpass;
  font-size: 22px;
  font-weight: 600;
  line-height: 16.8px;
  text-align: left;
  &:hover {
    color: #00bc8f;
  }
}
.handy-link {
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  position: relative;
  color: black;
  margin: 15px;
  font-family: Overpass;
  font-size: 22px;
  font-weight: 600;
  line-height: 16.8px;
  text-align: left;
}

.underline-link:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: black;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

.underline-link:hover:after {
  width: 100%;
  left: 0;
}

.burger-menu {
  display: none;
  cursor: pointer;
}

.menu-container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: calc(100px); /* Direkt unterhalb des Burger-Menü-Buttons */
  right: 0;
  transform-origin: top right; /* Ursprung für die Transformation */
  transform: scaleY(0); /* Skalierung auf 0 in der Y-Achse für Animation */
  opacity: 1;
  visibility: hidden;
  transition: transform 0.3s ease, opacity 0.3s ease, visibility 0.3s ease;
  z-index: 999;
}

.menu-container.open {
  transform: scaleY(1); /* Skalierung auf 1, um das Menü zu öffnen */
  opacity: 1;
  visibility: visible;
}

.bar {
  width: 30px;
  height: 4px;
  background-color: #333;
  margin: 6px 0;
  transition: transform 0.4s ease;
}



.burger-menu.open .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.burger-menu.open .bar:nth-child(2) {
  opacity: 0;
}

.burger-menu.open .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

@media (max-width: 1200px) {
}

@media (max-width: 1100px) {
  .content {
    padding: 0px 30px 00px 30px;}
  nav {
    padding: 0px 20px 0px 20px;
  }
}
@media (max-width: 1000px) {
  .burger-menu {
    display: block;
  }
  .menuDiv {
    display: none;
  }

}

@media (max-width: 700px) {
  .menuDiv {
    gap: 5px;
  }
}

@media (max-width: 640px) {
  nav {
    justify-content: center;
  }
}

@media (max-width: 600px) {
  .menuDiv {
    gap: 5px;
  }
  .underline-link {
    font-size: 18px;
  }
}

@media (max-width: 600px) {
  .underline-link {
    margin: 10px;
  }
}
@media (max-width: 370px) {
  .menu-container{
    top: 130px;
  }
  nav {
    padding: 30px 8px 30px 8px;
  }
  .underline-link {
    margin: 5px;
    text-align: center;
  }
}
@media (max-width: 340px) {
  .menuDiv {
    align-items: center;
  }
}