<div class="language" id="Head">
  <img (click)="switchLanguage('de')" src="../../assets/de.png" />
  <img (click)="switchLanguage('en')" src="../../assets/en.png" />
</div>
<div class="window-center">
  <div class="content">
    <div class="logo">
      <a routerLink="['/']" href="https://www.sascha-lenz.org"><img src="./../../assets/logo_sascha_lenz.png" /></a>
    </div>
    <nav id="home">
      <div class="menuDiv">
        <a
          [@slideInFromBottom]="slideInBottom"
          class="underline-link"
          href="#about_me"
          >{{ "NAVBAR.ABOUT_ME" | translate }}</a
        >
        <a
          [@slideInFromBottomTwo]="slideInFromBottomTwo"
          class="underline-link"
          href="#mySkills"
          >{{ "NAVBAR.SKILLS" | translate }}</a
        >
        <a
          [@slideInFromBottomThree]="slideInFromBottomThree"
          class="underline-link"
          href="#portfolio"
          >{{ "NAVBAR.PORTFOLIO" | translate }}</a
        >
      </div>
    </nav>
    
    <!-- burger-Menü -->
    <div class="burger-menu" (click)="toggleMenu()" [class.open]="isMenuOpen">
      <div class="bar"></div>
      <div class="bar"></div>
      <div class="bar"></div>
    </div>

   
  </div>
  <div class="menu-container" [class.open]="isMenuOpen">
    <a class="handy-link" href="#about_me">About Me</a>
    <a class="handy-link" href="#mySkills">Skills</a>
    <a class="handy-link" href="#portfolio">Portfolio</a>
  </div>
</div>
