<div [@slideInOutLeft]="slideInLeft">
  <p class="projectNumber">02/02</p>
  <div class="rightsideProjectContainer">
    <div class="leftClearContainer">
      <div class="flyInLeftContainer">
        <div class="textContainer">
          <h2>El Pollo Loco</h2>
          <br /><br />
          <h3>Javascript | HTML | CSS</h3>
          <p class="projectText">
            {{ "PROJECT2.FIRST" | translate }}
          </p>
          <div class="buttonDiv">
            <div style="display: flex; gap: 20px">
              <a target="_blank" href="https://el-pollo-loco.sascha-lenz.org/">
                <button>Live Test</button></a
              >
              <a target="_blank" href="https://github.com/SaschaLenz94/El-Pollo-Loco">
              <button>Github</button></a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="rightsideContainer">
      <img
        src="../../assets/portfolio/project2/elPollo.png"
        alt="First Image"
        class="image"
      />
      <div class="rightsideBorderContainer">
        <img src="../../assets/portfolio/PortfolioHoverArrow.svg" />
      </div>
    </div>

    <div class="secondContainer">
      <img
        src="../../assets/portfolio/project2/elPollo.png"
        alt="First Image"
      />
      <div class="textContainer">
        <h2>El Pollo Loco</h2>
        <br /><br />
        <h3>Javascript | HTML | CSS</h3>
        <p class="projectText">
          A simple Jump-and-Run game based on an obejct-oriented approach. Help
          Roche to find coins and salsa bottles to fight against the killer
          chicken.
        </p>

        <div style="display: flex; gap: 20px">
          <a target="_blank" href="https://sascha-lenz.developerakademie.net/elpollo/">
            <button>Live Test</button></a
          >
          <a href="" target="_blank">
          <button>Github</button></a>
        </div>
      </div>
    </div>
  </div>
</div>
