<div class="window-center">
  <div class="window-width">
<div class="head"><h4 [@slideInOutTop]="slideInTop" >{{ "MYSKILLS.FIRST" | translate }}</h4></div>
<div class="container">
  <div [@fromBackground]="fromBackground" class="background-border">
    <div class="content">
      <div class="iconContainer">
        <img src="../../assets/mySkills/angularImage.svg" />
        <p>Angular</p>
      </div>
      <div class="iconContainer">
        <img src="../../assets/mySkills/typeImage.svg" />
        <p>TypeScript</p>
      </div>
      <div class="iconContainer">
        <img src="../../assets/mySkills/jsImage.svg" />
        <p>JavaScript</p>
      </div>
      <div class="iconContainer">
        <img src="../../assets/mySkills/htmlImage.svg" />
        <p>HTML</p>
      </div>
      <div class="iconContainer">
        <img src="../../assets/mySkills/cssImage.svg" />
        <p>CSS</p>
      </div>
      <div class="iconContainer">
        <img src="../../assets/mySkills/firebaseImage.svg" />
        <p>Firebase</p>
      </div>
      <div class="iconContainer">
        <img src="../../assets/mySkills/gitImage.svg" />
        <p>Git</p>
      </div>
      <div class="iconContainer">
        <img src="../../assets/mySkills/scrumImage.svg" />
        <p>Scrum</p>
      </div>
      <div class="iconContainer">
        <img src="../../assets/mySkills/materialImage.svg" />
        <p>Material Design</p>
      </div>
      <div class="iconContainer">
        <img src="../../assets/mySkills/restImage.svg" />
        <p>Rest-Api</p>
      </div>
    </div>
  </div>
</div></div></div>