<div class="bg-container">
  <div class="width-content">
    <div class="mainDiv">
      <div class="leftDiv">
        <p>© Sascha Lenz 2024</p>
      </div>
      <div class="rightDiv">
        <div class="logos">
          <a href="https://github.com/SaschaLenz94" target="_blank">
            <img src="../../../../assets/footer/cat.svg" alt=""
          /></a>
          <a href="mailto:contact@sascha-lenz.org" target="_blank"
            ><img src="../../../../assets/footer/letter.svg" alt=""
          /></a>
          <a
            href="https://www.linkedin.com/in/sascha-lenz-4356802b8/"
            target="_blank"
            ><img src="../../../../assets/footer/linkin.svg" alt=""
          /></a>
        </div>
        <div>
          <span>
            <a routerLink="/imprint" class="underline-link">{{
              "FOOTER.SECOND" | translate
            }}</a></span
          >
        </div>
      </div>
    </div>
  </div>
</div>
